.juice-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
  }
  .juicesContainers {
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .juiceItem{
    display:flex;
    align-items: center;
  }
  .juiceItem h3 {
    margin: 0;

  }
  .juiceImage{
    flex:2;
    text-align: center;
    padding: 20px;
  }
  .juiceImage img{
    height: 70px;
  }
  .juiceName{
    flex:auto;
  }
  .juiceName h3{
    margin: 0;
  }
  .milli {
    font-size: 10px;
    margin: 0px;
  }
  .actionButtons{
    flex:auto;
    text-align: center;
  }
  .add{
    margin-right: 5px;
    color:#00BD56
  }
  .remove{
    margin-left: 5px;
    color:#FF2626
  }
  .juicePrice{
    flex:auto;
    text-align: right;
    font-weight: bold;
  }
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .actions {
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #00BD56;
    padding: 0.5rem 2rem;
    margin-left: 1rem;
  }
  
  .actions .button--myAlt:hover,
  .actions button:active {
    background-color: #FF2626;
    color: white;
  }
  
  .actions .button--myAlt {
    color: #00BD56;
  }
  
  .actions .button {
    background-color: #00BD56;
    color: white;
  }